.contactinfo {
    display: flex;
    width: 100%;

    justify-content: space-evenly;
}

.contact-link {
    color: inherit;
    text-decoration: none;

    font-size: 1.15rem;

    display: inline-block;
    position: relative;
}

.contact-link:before {
    content: '> ';
    color: rgb(70, 96, 128);
    font-weight: 400;
}

.contact-link:after {
    content: '';
    transform: scaleX(0);

    width: 100%;
    height: 2px;

    position: absolute;
    bottom: -4px;
    left: 0px;

    background-color: rgb(70, 96, 128);

    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.contact-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}