.resume-content {
    margin: 0 auto;
    max-width: 50%;

    /* margin-top: 40px; */
    padding: 0 20px;

    min-height: 80vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.resume-title {
    font-size: 3.5rem;
}